.contenedor {
    width: auto;
    height: 100px;
    border: solid black;
    background-color: white;
    display: flex;
    align-content: space-between;
    flex-direction: row;
    justify-content: space-between;
}

.item1 {
    background-color: red;
    width: 100px;
    height: auto;
    text-align: center;
    font-size: 20px;
    color: white;

}

.item2 {
    background-color: blue;
    width: 100px;
    height: auto;
    text-align: center;
    font-size: 20px;
    color: white
}

.item3 {
    background-color: green;
    width: 100px;
    height: auto;
    text-align: center;
    font-size: 20px;
    color: white
}