<div>
    <h2>Contacto Rapido</h2>
    <form action="/contacto" method="post" class="formulario">
        <p>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre">
        </p>
        <p>
            <label for="email">E-mail</label>
            <input type="text" name="email">
        </p>
        <p>
            <label for="telefono">Telefono</label>
            <input type="text" name="telefono">
        </p>
        <p>
            <label for="mensaje">Mensaje</label>
            <textarea name="mensaje"></textarea>
        </p>
        <p class="acciones"><input type="submit" value="Enviar" /></p>
    </form>
    <p>{{message}}</p>
</div>
<div class="datos">
    <h2>Otras vias de comunicación</h2>
    <p>Tambien puede contactarse con nosotros usando los siguientes medios:</p>
    <ul>
        <li>Telefono: +54370-4241007</li>
        <li>E-mail: credimas.syc@gmail.com</li>
        <li>instagram: Credimas_siempre_mas</li>
    </ul>
</div>