 <div class="homeimagen">
            <img src="images/monedas1.jpg" alt="img credimas/monedas1.jpg">
        </div>
        <div class="columnas">
            <div class="Bienvenidos">
                <h2>Bienvenidos</h2>
                <p>
                    Somos una entidad financiera creada en la ciudad de Formosa Capital con el fin de facilitar el
                    acceso al consumo
                    financiado a todos aquellos pequeños consumidores que no pueden acceder al mercado financiero
                    regulado por el BCRA.</p>
                <p>Iniciamos nuestras operaciones en el mercado financiero formoseño en el año 2.020, y desde entonces
                    nuestro
                    crecimiento ha sido constante, apoyando en su esfuerzo de desarrollo al sector comercial minorista
                    de la Provincia de Formosa.</p>
                <p>
                    Contamos con personal con amplia experiencia en el sector financiero, lo que nos permite dar
                    soluciones en el corto plazo a los requerimientos de nuestros clientes.
                </p>
            </div>
            <div class="Testimonio">
                <h2>Testimonios</h2>
                <p>"Gracias a CrediMas he podido cancelar el pago por el terreno de mi casa".</p>
                <p class="autor">Mareco Gustavo.</p>
                <p>"Con CrediMas pude comprar los electrodomésticos para mi casa".</p>
                <p class="autor">Andrea Revolero.</p>
            </div>

