<div class="columnas">
    <div class="historia">
        <h2>Historia</h2>
        <p>Somos una empresa nacida en Marzo de 2.020 en la Ciudad de Formosa Capital fundada por una pareja de
            comerciantes que observabamos la imposibilidad de muchos consumidores de poder acceder al mercado
            formal de financiamiento para realizar sus consumos. Otorgamos préstamos tanto
            en
            efectivo como así también financiamos el consumos en comercios adheridos y mutuales con las cuales
            tenemos convenios de colaboración, todo esto lo desarrollamos con FONDOS PROPIOS. Actualmente
            contamos
            con un equipo de trabajo de 5 personas, todas trabajando con RESPONSABILIDAD, COMPROMISO, y con una
            SONRISA, logrando que los clientes se sientan bien atendidos, reconocidos y escuchados.</p>
        <h2>Planificacion Estrategica</h2>
        <p>MISIÓN:</p>
        <p>Ser una entidad financiera ágil, eficiente y reconocida a nivel provincial.</p>
        <p>VISIÓN:</p>
        <p>Satisfacer las necesidades de nuestros clientes, ofreciendo productos actuales y diversos, con un
            equipo de trabajo comprometido, que brinde asesoría personalizada y oportuna.</p>
        <p>VALORES:</p>
        <p>Honestidad:
            Realizamos nuestro trabajo con transparencia, lealtad e integridad.</p>
        <p>Enfoque al Cliente:
            Satisfacemos las necesidades de nuestros clientes a través de una asesoría profesional y
            responsable.</p>
        <p>Respeto:
            Aseguramos un trato justo a nuestros clientes y colaboradores.</p>
        <p>Compromiso:
            Estamos orientados a cumplir en lo que nos comprometemos.</p>
        <p>Trabajo en Equipo:
            Promovemos en nuestra empresa la necesidad que los colaboradores de todas las áreas trabajemos en
            una
            misma dirección.</p>
        </p>
    </div>
    <div class="personas">
        <h2>Representante Legal</h2>
        <img src="images/image.png" alt="img credimas/image.png">
        <h5>Juan Esteban Estigarribia</h5>
        <p>Juan Esteban es uno de los fundadores de la Financiera que conjuntamente con su Socia Marcela
            Alejandra son parte del equipo administrativo de la Financiera CrediMas.</p>
    </div>
</div>