<h2>Publicaciones en Redes Sociales</h2>
<h4>Estas son algunos de nuestros posteos en distintas Redes Sociales.</h4>
<div class="galeria">
    <img src="images/$200000.png" alt="Efectivo">
    <img src="images/celulares.jpeg" alt="Celulares">
    <img src="images/IMG_20220530_114908_605.jpg" alt="Efectivo">
    <img src="images/ropa.jpeg" alt="Indumentaria">
    <img src="images/LogoCrediMas Negro.jpeg" alt="Logo Black">

</div>