<h2>Lineas de Financiamiento</h2>
<div class="financiamiento">
    <img src="images/billetes.png" alt="billetes">
    <div class="info">
        <h4>Prestamos en Efectivo</h4>
        <p>Los requisitos para acceder a la Linea de Creditos en Efectivo son los siguientes:</p>
        <p> 1- Fotografía legible del DNI del solicitante.</p>
        <p> 2- Ultima boleta de servicio público (donde conste domicilio coincidente al que figure en el
            D.N.I.
            del solicitante).</p>
        <p> 3- Ultimo recibo de sueldo.</p>
        <p>4- Numero telefónico del solicitante y de un contacto de referencia (para realizar la llamada de
            confirmación con el solicitante del crédito).</p>
        <p>Dichas fotografías deben ser remitidas vía WhatsApp al número +543704241007</p>
    </div>
    <div class="financiamiento">
        <div data-aos="fade-right">
            <img src="images/shopping-bags.jpg" alt="shopping-bags.png">
        </div>
        <div class="info">
            <h4>Listado de Comercios y Mutuales Adheridas</h4>
            <p>Los comercios y mutuales adheridas son las siguientes:</p>
            <p>“ROPERIA DIEGO”, situado en AV CANEPA N° 2276 Indumentaria. 3704-241502</p>
            <p>“AZABACHE”, situado en AV CANEPA N° 1750 Indumentaria. 3704-324416</p>
            <p>“ZAPATERIA LUNA”, situado en AV CANEPA N° 1752 Zapateria. 3704-211061</p>
            <p>“FORMOSA VENTAS”, situado en AV ITALIA N° 1363 Informática, Electrónica, Equipos de Celulares.
                3704-668490</p>
            <p>“VICTORIA BEBE”, situado en AV RIBEREÑA c/MARADONA Indumentaria. 3704-346112</p>
            <p>“VALENTINO”, situado en AV. CANEPA N° 2350 Informática, Electrónica, Electrodomésticos.
                3704-832800
            </p>
            <p>“MI DULCE CARMIN”, situado en B° URUNDAY SC A CS3 Indumentaria Talles Especiales. 3704-834955</p>
            <p>“EL MUNDO DEL JUGUETE”, situado en AV CANEPA N° 2278 Jugueteria. 3704-616336</p>
            <p>“CELL CENTER”, situado en MORENO N° 637 Celulares y accesorios. 3704-708976</p>
            <p>“AMUTEDYC”, situado en PADRE PATIÑO N°424 OF. N° 8 Mutual Afiliados de UTEDYC. 3704 27-3744</p>
            <p>“AME”, situado en PADRE PATIÑO N°424 OF. N° 8 Mutual Afiliados de UTEDYC. 3704 27-3744</p>
            <p>"LEXXAS”, situado en la localidad RIACHO HE HE Indumentaria. 3718 52-7047</p>
        </div>
    </div>