<H1>Consultas</H1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam obcaecati a velit unde vero hic repellat nihil
    molestiae? Quae quisquam velit fugit ut est alias, incidunt obcaecati corrupti aperiam enim.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit dolor facilis odio, blanditiis et rem dolore magnam
    architecto libero excepturi cum odit incidunt officia deserunt minus velit eos pariatur rerum?</p>
<h3>Complete el siguiente formulario</h3>
<form action="">
    <input type="text" placeholder="Nombre y Apellido">
</form>